*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-image: url("snake-game-background.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}
.highscoreBox{
    position: absolute;
    top: 59px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}
#board{
   background: linear-gradient(rgb(105, 198, 105), rgb(193, 193, 108));
   width: 90vmin;
   height: 92vmin;
   border: 2px solid black;
   display: grid;
   grid-template-rows: repeat(18,1fr);
   grid-template-columns: repeat(18,1fr);
}

.head{
    background: linear-gradient(pink,red);
    border: 2px solid rgb(192, 148, 148);
    border-radius: 9px;
    transform: scale(1.02);
}
.snake{
   background-color: purple;
   border: 0.25vmin solid rgb(137, 59, 192);
   border-radius: 12px;

}
.food{
    background: linear-gradient(rgb(184, 215, 70) ,rgb(192, 137, 34));
    border: 0.25vmin solid rgb(197, 220, 72);
    border-radius: 4px;

}
